<div>
  <%= flash[:notice] %>
</div>

<h1>Welcome to Bookers</h1>
<p>In Bookers,</p><br>
<p>you can share exchange your opinions, inpressions , and emotions</p><br>
<p>about various books!</p>

<%= link_to "ログイン", new_user_session_path , class:"btn btn-success" %>